<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
  <head>
    <!-- <base href="/"> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <div ng-include="'header.html'"></div> -->
    <!-- 
    <div ng-controller="myCntrl">
        <div ng-show="canShow">

            <ul>
                <li ng-repeat="techStack in techStacks">
                    {{techStack}}
                </li>
            </ul>

        </div>
        <button ng-click="showList()" ng-hide="canShow">Show List</button>
        <button ng-click="hideList()" ng-hide="!canShow">hide List</button>
    </div> -->

    <div ng-include="header.html"></div>

    <div ng-controller="main-controller">
      <ul class="nav-bar">
        <li>
          <button ng-show="isLoggedIn" ng-click="logout()" class="logout-btn">
            Logout
          </button>
        </li>
        <li><a href="#/login" ng-show="!isLoggedIn" id="login-btn">Login</a></li>

        <li><a href="#/profile" id="profile-btn" ng-show="isLoggedIn">Profile</a></li>
        <li><a href="#/post" ng-show="isLoggedIn">Posts</a></li>
        <li><a href="#/home">Home</a></li>
      </ul>
    </div>
    <br />

    <div ng-view></div>

<!--     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js" type="text/javascript" charset="utf-8"></script> -->
<!--     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="app.js"></script>
    <script src="./login/login.js"></script>
    <script src="./header/controller.js"></script>
    <script src="./user/user.js"></script>
  </body>
</html>
